*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toogle-mode{
    display: none;
}

.app-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.header-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-container h1{
    font-size: 50px;
    margin: 10px;
}


.navbar-container{
    display: flex;
    justify-content: center;

    
}

.navbar-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navbar-item{
   
    text-align: center;
    height: 100%;
    background-color: #00000080;
    

}


.navbar-link{
    width: 20vw;
    height: 60vh;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    background-image: url('./img/historia4.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    transition: 1s ease;
}

.navbar-link:hover{
    width: 90vw;
}

.navbar-link p{
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    background-color: #8080808a;
}

.navbar-link:nth-child(2){
   
    background-image: url('./img/kadra2.jpg');
    object-fit: contain;
    

}


.navbar-link:nth-child(3){
   
    background-image: url('./img/wyniki.jpg');
    background-size: cover;
    background-position: center;
}


.navbar-link:nth-child(4){
   
    background-image: url('./img/wydarzenia.jpg');

}

.navbar-link:nth-child(5){
   
    background-image: url('./img/kontakt.jpg');

}

.historia-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.historia-container img{
    width: 100%;
    margin: 10px 0;
}

.historia-container p{
    font-size: 1.4rem;
}

.kadra-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./img/kadra2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.kadra-overlay{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.781);

}

.kadra-container h2{
    display: none;
}

.kadra-card{
    margin: 20px;
    font-size: 1.4rem;
}


.wydarzenia-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.wydarzenia-container a{
    text-decoration: none;
    color:white;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.7s ease;

}

.wydarzenia-container a:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: 20px;
}

.wyniki-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wynik{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    /* border-bottom: 2px solid blue; */
}

.wynik a{
    background-color: blue;
    color:white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(67, 107, 253);
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s ease;
    
}

.wynik a:hover{
    background-color: black;
    color:white;
}

.opis-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.opis-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opis-info p{
    margin:20px;
    text-align: center;
    font-size: 1.3rem;
}

.opis-info img{
    margin:10px
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-container h1{
    margin: 10px;
}

.contact-container p{
    margin: 10px;
}






@media screen and ( max-width: 500px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .app-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: black;
        color:white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .dark{
        background-color: white;
        color:black;
        
    }

    .dark .wynik{
        color:black
    }

    .toogle-mode{
        background-color: rgba(0, 0, 0, 0.527);
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
    }

    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .navbar-container{
        display: flex;
        justify-content: center;

        
    }

    .navbar-list{
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .navbar-item{
       
        text-align: center;
        width: 100vw;
        height: 30vh;
        background-color: #00000080;
        
    
    }


    .navbar-link{
        width: 100vw;
        height: 30vh;
        text-transform: uppercase;
        color:white;
        text-decoration: none;
        background-image: url('./img/historia4.jpg');
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
    }

    .navbar-link p{
        margin: 0;
        padding: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 25px;
        background-color: #8080808a;
    }

    .navbar-link:nth-child(2){
       
        background-image: url('./img/kadra2.jpg');
   
    }


    .navbar-link:nth-child(3){
       
        background-image: url('./img/wyniki.jpg');
   
    }

    
    .navbar-link:nth-child(4){
       
        background-image: url('./img/wydarzenia.jpg');
   
    }

    .navbar-link:nth-child(5){
       
        background-image: url('./img/kontakt.jpg');
   
    }


    .footer-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    }

    /* kadra */


    .kadra-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url('./img/2023.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;

        
    }

    .kadra-overlay{
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.781);
    }

    .kadra-container h1{
        margin-top: 10px;
        padding: 5px;
        border-bottom: 4px solid;
        border-image: linear-gradient(to right, orange, white, blue) 1;
    }


    .kadra-card p{
        margin-top: 10px;
        font-size: 20px;
        padding: 5px;
    }

  
  


    .wyniki-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .wynik{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color:white;

    }


    .wynik p {
        margin: 10px 0 ;
        font-size: 12px;
    }

    .wynik h2{
        font-size: 20px;
    }

    .wynik h5{
        text-align: center;
    }

    .wynik a{
        color:#3defff;
    border: 2px solid;
    border-radius: 10px;
    padding: 0px 10px;
    text-decoration: none;
    margin: 10px;
    }

    .wyniki-container h2 a{
       
        color:orange;
        border-bottom:2px solid blue;

    /* kontakt*/

    }

    .contact-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background: rgb(0,0,0);
    }

    .contact-container h1{
        margin-bottom: 15px;
    }

    .contact-container p{
        margin-bottom: 10px;
    }

    /*wydarzenia*/

    .wydarzenia-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    .wydarzenia-container a{
        text-decoration: none;
        cursor: pointer;
        color:white;
        background-color: black;
        border: 1px solid white;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .wydarzenia-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wydarzenia-container h3{
        margin: 20px;
    }

    .wydarzenia-container img{
        width: 300px;
        height: 300px;
        object-fit: contain;

    }




    /*opis*/

    .opis-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .opis-info img{
        width: 90%;
        margin: 20px;
    }

    .opis-info p{
        margin: 5px;
        text-align: center;
        font-size: 1rem;
    }

    /*historia*/

    .historia-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .historia-container h1{
        text-align: center;
        margin:10px;
    }

    .historia-container p{
        line-height: 1.3;
        padding: 10px;
    }

    .historia-container img{
    width: 100%;
    padding: 10px;
    }

    

    
    

    

}





